{{yield}}
<div>
  <p>{{#link-to 'post' post.id}}{{post.title}} Author: {{post.author}}{{/link-to}}</p>
  {{#if isImageShowing }}
    <p><img {{action 'imageHide'}} src={{post.image}} alt={{post.title}} ></p>
    {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</div>
